#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/rinetd/files/rinetd.rc,v 1.1.1.1 2005/11/30 09:55:18 chriswhite Exp $

depend() {
	use net
}

start() {
	ebegin "Starting rinetd"
	/usr/sbin/rinetd
	eend $?
}

stop() {
	local ret
	ebegin "Stopping rinetd"
	start-stop-daemon --stop --pidfile /var/run/rinetd.pid
	ret=$?
	rm -f /var/run/rinetd.pid
	eend ${ret}
}
