#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-print/mtink/files/mtinkd.rc,v 1.1.1.1 2005/11/30 09:48:14 chriswhite Exp $

depend() {
	use cups
}

start() {
	ebegin "Starting mtinkd"
	/usr/sbin/mtinkd start ${DEV_FILE} ${SPEC}
	eend $?
}

stop() {
	ebegin "Stopping mtinkd"
	/usr/sbin/mtinkd stop ${DEV_FILE} ${SPEC}
	eend $?
}
